{% extends "base.html" %}

{% block title %}Call of Cthulhu | Лист персонажа{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/character_sheet.css') }}">
{% endblock %}

{% block body %}
<div class="tentacles-container">
    <div class="tentacle tentacle-bg-1"></div>
    <div class="tentacle tentacle-bg-2"></div>
    <div class="tentacle tentacle-bg-3"></div>
    <div class="tentacle tentacle-bg-4"></div>
</div>

<div class="container character-sheet-container">
    <header>
        <h1 class="logo">CALL OF CTHULHU</h1>
        <div class="subtitle">Лист исследователя</div>
    </header>

    <!-- Основная информация -->
    {% include "character_sheet.html" %}

    {% if editable %}
    <div class="action-buttons">
        <button class="nav-btn" id="save-character">Сохранить</button>
        <button class="nav-btn" id="save-json">Сохранить json</button>
        <button class="nav-btn" id="return-to-main">На главную</button>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/character_sheet.js') }}"></script>
{% endblock %}

